h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2em;
}

.title {
    font-size: 4em;
}

#home {
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

label {
    color: white !important;
}
  
.fa-home {
  font-size: 2em;
}

#keyField {
    width: 15em;
    margin-bottom: .5em;
}
  
input.button {
    margin-bottom: 2em;
}
  